include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .welcome-section
        section.hero.fullscreen-section
          .container.hero__container
            header.header
              .header__logo
                a.logo(href="#") MC
              .header__menu
                +menu
              .header__links
                +socials
            .hero__content
              .user-info
                h1.user-info__desc !{desc}
                .user-info__username #{username}
            .hero__btns
              a(href="#").scroll-down Скролл
        section.about
          .container
            .about__content
              .about__user
                .user
                  .user__avatar
                    .avatar
                      +image('userfiles/user.jpg', 'avatar__img')
                  .user__info
                    - 
                      var info = [
                        ["Проживаю", "Петропавловск-Камчатский"],
                        ["Возраст", "27 лет"],
                        ["Родился", "8 ноября 1992"]
                      ];
                    table.user__data
                      tbody.user__data-body  
                        each row in info
                          tr.user__data-row
                            td.user__data-field #{row[0]}
                            td.user__data-value #{row[1]}
              .about__text
                .about__text-main
                  .about__intro Привет, меня зовут
                  h2.about__title #{username}
                  .about__desc
                    p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .about__ps
                  | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .triangles
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item
            polygon(points="0,0 0,100 1000,100")
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item
            polygon(points="0,100 1000,100 1000,0")
        .features
          section.skills
            .container.skills__container
              .skills__title
                .skills__title-container
                  h2.skills__title-text Чем я могу быть полезен вам
                  .skills__title-content
                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
              .skills__values
                .skills__values-container
                  ul.skills__list
                    - 
                      var skills = [
                        ['Front-end', ['HTML5', 'CSS3', 'Javascript', 'Jquery, Vue.js']],
                        ['Workflow', ['GIT', 'Terminal', 'Gulp', 'Webpack']],
                      ]
                    each item in skills 
                      li.skills__row
                        .skills__row-items
                          h3.skills__row-title #{item[0]}
                          ul.skills_row-list
                            each skill in item[1]
                              li.skills__row-item
                                .skill
                                  svg(viewBox="0 0 100 100").skill__shape
                                    circle(r="40" cx="50" cy="50").skill__circle.skill__circle--under
                                    circle(r="40" cx="50" cy="50" stroke="url(#gradient)").skill__circle.skill__circle--above
                                    lineargradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0")
                                      stop(offset="0%" stop-color="#9300e8")
                                      stop(offset="100%" stop-color="#4a00ed")
                                  .skill__title #{skill}
        footer.footer
          .footer__left
            .footer__copyright &copy; 2020
          .footer__mid
            .footer__info
              .footer__info-name #{username}
              .footer__info-desc !{desc}
          .footer__right
            .footer__row
              .footer__menu
                +menu
            .footer__row
              .footer__col
                .footer__desc Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                .footer__socials
                  +socials('social--footer')
              .footer__col
                .footer__quote
                  .footer__quote-text
                    p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                  .footer__quote-author Martin Golding
