- var username = "Максим Стогний"
- var desc = "Личный сайт <br/> веб-разработчика"
mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/${path}`) class=className)

mixin menu(className)
  nav.nav(class=className)
    - 
      var menu = [
        ['Главная', 'hero'],
        ['Обо мне', 'about'],
        ['Навыки', 'skills'],
        ['Работы', 'works'],
        ['Отзывы', 'reviews'],
        ['Связаться', 'contacts']
      ];
    ul.nav__list
      each item in menu
        li.nav__item
          a(href=`#${item[1]}`).nav__link #{item[0]}

mixin socials(modifyClass)
  - var icons = ['inst', 'vk', 'github'];
    .social(class=modifyClass)
      ul.social__list
        each item in icons
          li.social__item
            a(href="#" target="_blank").social__link
              +icon(item, 'social__icon')

mixin triangles(direction, className)
  .triangles(class=className)
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item
      if direction == 'bottom'
        polygon(points="0,0 0,100 1000,100")
      else
        polygon(points="0,0 1000,0 1000,100")
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item
      if direction == 'bottom'
        polygon(points="0,100 1000,100 1000,0")
      else
        polygon(points="0,0 0,100 1000,0")

mixin paralax(image, layers, className)
  .parallax(class=className)
    - 
      var speeds = [
        ['0.1','0.25','0.35','0.38','0.45','0.48','0.5'],
        ['0.01','0.1','0.25','0.28','0.35','0.38']
        ]
    - for (var i = 1; i <= layers; i++)
      .parallax__layer(data-speed=`${image == 'mountain' ? speeds[0][i-1] : speeds[1][i-1]}`)
        picture
          source(srcset=require(`images/parallax/${image}/fhd/${i}.${i === 1 ? 'jpg' : 'png'}`) media="(min-width: 1200px)").parallax__image
          source(srcset=require(`images/parallax/${image}/qhd/${i}.${i === 1 ? 'jpg' : 'png'}`) media="(min-width: 1800px)").parallax__image
          if i == 1
            img(srcset=require(`images/bg/${image}.jpg`)).parallax__image
          else 
            img(srcset="").parallax__image